<h1>All Recipe</h1>
<hr/>

<% @recipes.each do |recipe| %>
    <div class="row">

      <div class="col-md-2">
        <section class="chef_info center">
          <%= gravatar_for recipe.chef, size: 100 %>
          <h5> Chef Name: <%= recipe.chef.chef_name %> </h5>
        </section>
      </div>

      <div class="col-lg-8 well">
        <h4>
          <%= link_to recipe.name, recipe_path(recipe) %>
        </h4>
        <p>
          <%= recipe.summary %>
        </p>
        <p>
          <span class="quiet">
            <small>
              <%= time_ago_in_words(recipe.created_at) %> ago
            </small>
          </span>
        </p>
      </div>
    </div>
    </hr>
<% end %>