<p>
  <h1>
    <%= @recipe.name %>
  </h1>
</p>



<div class="row">
  <div class="col-md-4 pull-right centet">
    <%= gravatar_for @recipe.chef, size: 200%>
    <p>
      <h5> Brought to you by: <%= @recipe.chef.chef_name %> </h5>
    </p>
  </div>

  <div class="col-md-8">
    <h3> <%= @recipe.summary %> </h3>
    <div class="well">
      <p>
        <strong>Steps:</strong>
      </p>
      <%= @recipe.description %>
    </div>
  </div>
</div>

<h5>
  <%= link_to 'Retrun to Recipes Listing', recipes_path, class: 'btn btn-warning btn-small' %>
</h5>
