<div class="jumbotron center home">
  <h1>Welcome to My Recepies App</h1>
  <h2>
    This is the home page of my project.
  </h2>
  <%= link_to 'Sign Up Now', "", class: "btn btn-lg btn-success" %>
</div>


<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View as guest user
    </h3>
    <h2 class="left">
      Browse and view recepies and Sign up later
    </h2>
    <p><%= link_to "Browse Receipe Listings", "", class: "btn btn-warning btn-small"  %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View as guest user
    </h3>
    <h2 class="left">
      Browse and view recepies and Sign up later
    </h2>
    <p><%= link_to "Browse Receipe Listings", "", class: "btn btn-warning btn-small"  %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View as guest user
    </h3>
    <h2 class="left">
      Browse and view recepies and Sign up later
    </h2>
    <p><%= link_to "Browse Receipe Listings", recipes_path, class: "btn btn-warning btn-small"  %></p>
  </div>
</div>