$navbar-default-bg: #312312;
$light-orange:      #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #ff8c00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover{
  color: white;
  text-decoration: none;
}

body{
  padding-top: 80px;
}

.nav_item{
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center{
  text-align: center;
}

h1 h2 h3 h4 {
  line-height:1;
}


h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-aligin: center;
}

h2{
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer{
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}


.chef_info{
  margin-top: 20px;
}

.gravatar{
  border-radius: 10px;
}